doctype html
html
  head
    /!(bake includes/_head.html title="Uploader")
  body.uploader
    .row-wrapper
      .outer-container
        .side-image
          .images-wrapper
          .side-image-content
            h4 Uploader
            h1 Click button below to uploader a new picture.
            button Upload
