<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <%= javascript_include_tag 'public/vendor/jquery/jquery' %>
  <%= javascript_include_tag 'bower_components/fine-uploader/_build/s3.jquery.fine-uploader' %>
  <%= javascript_include_tag @server.main %>
</body>
</html>
